body {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
  background: #839AA8;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

#appTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -5px;
  font-size: larger;
}

#editSection {
  width: 72%;
  padding: 15px;
  overflow-y: scroll;
  position: relative;
}

#editSection .title {
  width: 100%;
  text-align: center;
}

.itemsParent {
  border-bottom: #000000 1px solid;
  margin-bottom: 20px;
}

.sectionItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  width: max-content;
}

.sectionItem input {
  outline: none;
  border-radius: 8px;
  padding: 5px 8px 5px 8px;
  border: none;
}

.sectionItem .inputs {
  display: flex;
  align-items: center;
  gap: 30px;
}

.sectionItem .inputs .texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sectionItem .inputs .texts .d-title {
  font-size: larger;
}

.sectionItem .inputs .texts .d-description {
  min-height: 50px;
  font-size: large;
}

.sectionItem .removeButton {
  width: 30px;
  height: 15px;
  background-color: rgb(184, 28, 28);
  border: none;
  color: white;
  border-radius: 8px;
  position: absolute;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionItem .removeButton:hover {
  background-color: rgb(150, 23, 23);
}

.imageInput {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.imageInput span {
  display: block;
  width: 225px;
}

#realTimePreview {
  width: 38%;
  overflow: auto;
  color: white;
  background-color: white;
  position: relative;
}

#realTimePreview h2 {
  font-size: large;
  position: sticky;
  width: 100%;
  text-align: center;
  top: 0;
  color: black;
  z-index: 10;
} 

#realTimePreview img {
  width: 100%;
}

.hidden {
  display: none !important;
}

.addObjectButton {
  padding: 10px 5px 10px 5px;
  border: none;
  background-color: #16a34a;
  color: #f3f4f6;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  /* font-weight: 600; */
}

.addObjectButton:hover {
  background-color: #23c05d;
}